body {
  margin: 0;
  background: #0f172a;
  font-family: Arial, sans-serif;
}

.chat-container {
  max-width: 420px;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #020617;
  color: white;
}

.chat-header {
  padding: 15px;
  background: #020617;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #1e293b;
}

#messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.msg {
  margin: 8px 0;
  padding: 10px;
  border-radius: 10px;
  max-width: 80%;
}

.user {
  background: #2563eb;
  align-self: flex-end;
}

.bot {
  background: #1e293b;
  align-self: flex-start;
}

.chat-input {
  display: flex;
  padding: 10px;
  border-top: 1px solid #1e293b;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.chat-input button {
  margin-left: 5px;
  padding: 10px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 5px;
}
